* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  word-wrap: break-word;
  background-color: #ccc;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;  
  color: inherit;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 20px 5px;
  background-color: #222;
}

.header__container {
  color: #fff;
  text-transform: uppercase;
}

.nav {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 1px 20px #222;
  z-index: 1000;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 162px;
  height: 65px;
  border: 1px solid red;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
}

.nav__item:not(:last-child) {
  margin-right: 2vw;
}

.nav__link {
  padding: 5px;
  border-bottom: 2px solid transparent;
  transition: border-color .3s ease-out;
}

.nav__link:hover {
  border-bottom: 2px solid #FCBC04;
}

.nav__link_home {
  border-bottom: 2px solid #FCBC04;
}

/* -----------hero----------- */
.hero {
  color: #fff;
  background-color: #222;
}

.hero__container {
  padding-top: 50px;
  padding-bottom: 150px;
  padding-left: 10vw;
}

.hero__title {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 3px solid #FCBC04;
  border-left: 3px solid #FCBC04;
  text-transform: uppercase;
}

.hero__descr {
  margin: 0;
  font-size: 50px;
  line-height: 100px;
}

.hero__button {
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #FCBC04;
  border: none;
  border-radius: 30px;
  transition: background-color .3s ease-out, color .3s ease-out;
}

.hero__button:hover {
  cursor: pointer;
  background-color: #222;
  color: #fff;
}

/* -----------form----------- */

.form-section {
  margin-top: -50px;
}

.form-section__container {
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #fff;
  text-align: center;
}

.form-section__title-container {
  display: inline-block;
  margin-bottom: 50px;
  padding: 15px 30px;
  color: #fff;
  background-color: #fcbc04;
}

.form-section__title {
  margin: 0;
}

.form__row {
  margin-bottom: 30px;
}

.form__input {
  margin-right: 10px;
  padding: 15px 40px;
  border-radius: 30px;
  border: 1px solid #CBCBCB;
}

.form__button {
  padding: 15px 30px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 30px;
  background-color: #222;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  margin-right: 5px;
  visibility: hidden;
}

.checkbox__check {
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #222;
  border-radius: 3px;
  /* visibility: hidden; */
}

.checkbox__check::after {
  content: '\2714';
  position: absolute;
  top: -6px;
  left: 0;
  font-size: 20px;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.checkbox__input:checked + .checkbox__check::after {
  opacity: 1;
}

/* -----------catalog------- */
.catalog__container {
  text-align: center;
}

.catalog__title {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  border-right: 3px solid #FCBC04;
  border-left: 3px solid #FCBC04;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
}

.tabs__item {
  padding: 5px 10px;
  border: 2px solid #222;
  margin-bottom: 20px;
  transition: background-color .2s ease-out, border-color .2s ease-out;
}

.tabs__item:not(:last-child) {
  margin-right: 20px;
}

.tabs__item:hover {
  cursor: pointer;
  background-color: #FCBC04;
  border-color: #FCBC04;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  width: 31.333%;
  margin-bottom: 3%;
  padding-bottom: 20px;
  background-color: #fff;
}

.catalog__item:not(:nth-child(3n)) {
  margin-right: 3%;
}

.car-info__price {
  margin-top: 0;
  padding: 10px;
  padding-left: 20px;
  text-align: left;
  background-color: #FCBC04;
  z-index: 0;
}

.car-info__title {
  border-left: 5px solid #FCBC04;
  text-align: left;
  padding-left: 20px;
}

.car-info__specifications {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  text-align: left;
  border-top: 1px solid #EBEBEB;
}

.car-info__row {
  width: 50%;
}

.car-info__text {
  margin-bottom: 20px;
  line-height: 1.5;
}

.car-info__button {
  width: 90%;
  padding: 5px;
  text-transform: uppercase;
  border: 2px solid #222;
  background-color: #222;
  transition: color .2s ease-out, background-color .2s ease-out;
}

.car-info__button_more {
  background-color: #fff;
}

.car-info__button_more:hover {
  cursor: pointer;
  background-color: #222;
  color: #fff;
}

.car-info__button_form {
  color: #fff;
}

.car-info__button_form:hover {
  cursor: pointer;
  background-color: #fff;
  color: #222;
}